@import url("./assets/webfont.css");
@import url("./assets/colors.css");

i {
    color: var(--lavender);
}

.warn {
  color: var(--warn) !important;
}

.alert {
  color: var(--alert) !important;
}

body {
    color: var(--text);
    font-family: ui-monospace, monospace;
    font-size: 12px;
    overflow: hidden;
}

div,
span,
p {
    cursor: default;
    user-select: none;
}

html,
body,
#root {
    height: 100%;
}

#root {
    background: var(--base);
}

button {
    background: var(--surface1);
    color: var(--text);
    border-radius: 2px;
    line-height: 1;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: var(--lavender);
    color: var(--base);
}

.flex-gap {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
